.MainImage {
    width: 100%;
}
.upper {
    background-color: #b6e5c7de;
}
.star {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #ffc806;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
}
.card{
    width:210px;
}